<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/style.css">
    <title>Recon Book</title>
</head>
<body>
    <main>
        <navbar class="px-4 py-5 flex justify-center  bg-[#00796B]">
            <h1 class="font-semibold text-3xl">Book Details</h1>
        </navbar>
        <div>
            <figure>
                <img>
            </figure>
            <div>
                <h3>Book Name</h3>
                <h3>Author Name</h3>
                <h3>Catagory</h3>
                <p>keyword</p>
                <p>description</p>

                <button>Download</button>
            </div>
        </div>

    </main>
    <script type="module" src="./index.ts"></script>
</body>
</html>