<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/style.css">
    <title>Recon Book</title>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

    <div class="w-3/12 bg-white p-8 rounded-md shadow-md">
        <header class="mb-6">
            <h2 class="text-2xl font-semibold">Register</h2>
        </header>
        <form class="flex flex-col">
            <label class="mb-2 text-gray-700">User Name</label>
            <input id="userName" type="text" class="px-4 py-2 border rounded-md mb-4 focus:outline-none focus:ring focus:border-blue-500">

            <label class="mb-2 text-gray-700">Email</label>
            <input id="email" type="email" class="px-4 py-2 border rounded-md mb-4 focus:outline-none focus:ring focus:border-blue-500">

            <label class="mb-2 text-gray-700">Password</label>
            <input id="password" type="password" class="px-4 py-2 border rounded-md mb-6 focus:outline-none focus:ring focus:border-blue-500">

            <button id="registerBtn" class="bg-[#00796B] text-white px-6 py-2 rounded-md hover:bg-[#00796bba] active:bg-[#235c55]">
                Register
            </button>

            <div class="text-md mt-2">
                <p>Already have an account? <span class="text-blue-500 font-semibold hover:text-[#00796bba] active:text-[#235c55]"><a href="../login/login.html">Login Here</a></span></p>
            </div>
        </form>
    </div>

    <script type="module" src="./index.ts"></script>
</body>
</html>