<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Recon Book</title>
</head>

<body class="bg-[#D8D8D8] h-screen w-screen flex flex-col">
    <!-- navbar -->
    <navbar class="px-4 py-5 flex justify-between bg-[#00796B] relative">
        <h1 class="font-semibold text-3xl">Recon Book</h1>
        <ul class="flex justify-center items-center gap-5 font-semibold">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/src/view/profile/profile.html">Profile</a></li>
            <li><a href="/src/view/upload/upload.html">Uploads</a></li>
        </ul>

        <!-- profile -->
        <figure id="navAvatar" class="w-[40px] h-[40px] rounded-full overflow-hidden">
            <img class="" src="/image/profile.jpg" />
        </figure>

        <!-- drop down -->
        <div id="avatarDiv"
            class="hidden p-5 absolute flex-col justify-center right-10 top-20 bg-[#F3F3F3] shadow-lg rounded-md">
            <figure class="flex justify-center">
                <img class="w-[50px]" src="/icon/setting-icon.svg" />
            </figure>
            <div class="p-5 flex flex-col gap-2">
                <h3><a href="/src/view/setting/setting.html">Setting</a></h3>
                <h3><a href="/src/view/login/login.html">Logout</a></h3>
            </div>
        </div>
    </navbar>

    <!-- main -->
    <main class="m-4 md:m-auto md:w-7/12 bg-[#F3F3F3] shadow-lg rounded-md  justify-center">
        <div class="flex flex-col justify-center gap-5">
            <div class="bg-[#00796B] p-5 text-lg md:text-xl font-semibold flex justify-center rounded-md">
                <h1>Book Details</h1>
            </div>
            <div class="flex flex-col md:flex md:flex-row justify-center gap-5">
                <!-- book image -->
                <figure class="p-2  md:w-1/2 bg-cover">
                    <img id="bookImg" class="w-full max-h-96">
                </figure>

                <!-- uploaded books -->
                <div class="p-2 w-full md:p-5 md:w-4/6 flex flex-col justify-center">
                    <div class="flex">
                        <h3 class="font-semibold">Book Name : 
                        </h3><span id="bookName"></span>
                    </div>
                    <div class="flex">
                        <h3 class="font-semibold">Author Name : 
                        </h3><span id="bookAuthor"> </span>
                    </div>
                    <div class="flex">
                        <h3 class="font-semibold">Catagory : 
                        </h3><span id="bookCatagory"></span>
                    </div>
                    <div class="flex">
                        <p class="font-semibold">keyword : 
                        </p><span id="bookKeyword"></span>
                    </div>
                    <div>
                        <p class="font-semibold">description : </p><span id="bookDescription"> </span>
                    </div>

                    <!-- download button -->
                    <div>
                        <button id="download"
                            class="my-4 p-3 w-full rounded-md shadow-md bg-[#00796B] hover:bg-[#007951] active:bg-[#F3F3F3]">
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="module" src="./index.ts"></script>
</body>

</html>