<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/style.css">
    <title>Recon Book</title>
</head>

<body class="bg-[#D8D8D8]">

    <!-- navbar -->
    <navbar class="px-4 py-5 flex justify-between bg-[#00796B] relative">
        <h1 class="font-semibold text-3xl">Recon Book</h1>
        <ul class="flex justify-center items-center gap-5 font-semibold">
          <li><a href="../../index.html">Home</a></li>
          <li><a href="../profile/profile.html">Profile</a></li>
          <li><a href="../upload/upload.html">Uploads</a></li>
        </ul>
    
        <!-- profile -->
        <figure id="navAvatar" class="w-[40px] h-[40px] rounded-full overflow-hidden">
          <img class="" src="../../public/image/profile.jpg" />
        </figure>
    
        <!-- drop down -->
        <div id="avatarDiv" class="hidden p-5 absolute flex-col justify-center right-10 top-20 bg-[#F3F3F3] shadow-lg rounded-md">
          <figure class="flex justify-center">
            <img class="w-[50px]" src="../../public/icon/setting-icon.svg" />
          </figure>
          <div class="p-5 flex flex-col gap-2">
            <h3><a href="">Setting</a></h3>
            <h3><a href="./view/login/login.html">Logout</a></h3>
          </div>
        </div>
      </navbar>

    <!-- main -->
    <main class="flex">

        <!-- user detail section -->
        <section class="p-5 w-3/12 rounded-md flex flex-col gap-5">
            <div class="p-5 bg-[#FEFCFF] flex flex-col gap-5 rounded-md justify-center items-center shadow-md">

                <!-- user image -->
                <figure class="w-10/12 rounded-md flex justify-center">
                    <img id="profileImg" src="../../public/image/profile.jpg" alt="profile image"
                        class="rounded-md items-center">
                </figure>

                <!-- user details -->
                <div class="p-5 w-full">
                    <span class="font-bold">User:</span>
                    <h3 id="userName"></h3>
                    <span class="font-bold">Email"</span>
                    <h3 id="email"></h3>
                </div>
            </div>
            <!-- upload button -->
            <div class="p-3 flex justify-center">
                <button id="uploadPageBtn"
                    class="my-4 p-3 w-full rounded-md shadow-md bg-[#00796B] hover:bg-[#007951] active:bg-[#F3F3F3]">Upload
                    Book</button>
            </div>
        </section>

        <!-- user uploaded books -->
        <section class="p-5 w-9/12 flex flex-col rounded-md">
            <!-- header -->
            <header class="p-5 flex justify-center bg-[#00796B] rounded-md shadow-md">
                <h2 class="font-semibold text-2xl">Your Uploaded Books</h2>
            </header>

            <!-- uploaded books list -->
            <div id="bookList" class="p-5 flex flex-col gap-3">
                <div class="px-4 py-2 flex justify-between bg-[#F3F3F3] rounded-md shadow-md">
                    <h3>The Hero and the Heroine</h3>
                    <p>Natte Lotte</p>
                    <figure><img id="deleteIcon" src="../../public/icon/delete.png" class="w-[30px]"></figure>
                </div>

                <div class="px-4 py-2 flex justify-between bg-[#F3F3F3] rounded-md shadow-md">
                    <h3>The Hero and the Heroine</h3>
                    <p>Natte Lotte</p>
                    <figure><img id="deleteIcon" src="../../public/icon/delete.png" class="w-[30px]"></figure>
                </div>

                <div class="px-4 py-2 flex justify-between bg-[#F3F3F3] rounded-md shadow-md">
                    <h3>The Hero and the Heroine</h3>
                    <p>Natte Lotte</p>
                    <figure><img src="../../public/icon/delete.png" class="w-[30px]"></figure>
                </div>
            </div>
        </section>
    </main>

    <!-- script -->
    <script type="module" src="./index.ts"></script>
</body>

</html>