<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Recon Book</title>
</head>

<body id="" class="bg-[#F3F3F3] h-screen w-screen flex items-center justify-center">

    <!-- main -->
    <main id="login" class="flex flex-col w-10/12 md:w-6/12 lg:w-3/12 bg-[#FEFCFF] shadow-lg rounded-md p-6">
        <div
            class="mb-4 p-3 flex justify-center text-2xl font-semibold text-[#F3F3F3] bg-[#00796B]  rounded-md shadow-md">
            <h1>Recon Book</h1>
        </div>
        <!-- login header -->
        <header class="mb-4 ">
            <h2 class="text-xl text-center font-semibold">Login</h2>
        </header>


        <!-- login form -->
        <form class="flex flex-col">
            <label for="email" class="mb-2 text-sm">Email</label>
            <input type="email" name="email" id="email" class="px-3 py-2 border rounded-md mb-2">

            <label for="password" class="mb-2 text-sm">Password</label>
            <input type="password" name="password" id="password" class="px-3 py-2 border rounded-md mb-4">

            <!-- login button -->
            <button id="loginBtn"
                class="bg-[#00796B] text-white px-4 py-2 rounded-md hover:bg-[#00796bba] active:bg-[#235c55]">
                Login
            </button>

            <!-- redirect to register  -->
            <div class="mt-2 text-md">
                <p>Don't have an account?
                    <span class="text-blue-500 cursor-pointer font-semibold hover:text-[#00796B] active:text-[#00793b]">
                        <a href="/src/view/register/register.html">Click Here</a>
                    </span>
                </p>
            </div>
        </form>
    </main>
    <!-- script -->
    <script type="module" src="./index.ts"></script>
</body>

</html>