<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <navbar>
            <h2>User Profile</h2>
        </navbar>
        <div>
            <figure>
                <img>
            </figure>
            <div>
                <h3>User Name</h3>
                <h3>Email</h3>
            </div>
        </div>
        <div>
            <h2>your upload books</h2>
            <div>
                <div class="px-4 py-2 flex justify-between bg-[#F3F3F3] rounded-md shadow-md">
                    <h3>The Hero and the Heroine</h3>
                    <p>Natte Lotte</p>
                    <figure><img src="../public/icon/download-icon.png"></figure>
                  </div>

                  <div class="px-4 py-2 flex justify-between bg-[#F3F3F3] rounded-md shadow-md">
                    <h3>The Hero and the Heroine</h3>
                    <p>Natte Lotte</p>
                    <figure><img src="../public/icon/download-icon.png"></figure>
                  </div>

                  <div class="px-4 py-2 flex justify-between bg-[#F3F3F3] rounded-md shadow-md">
                    <h3>The Hero and the Heroine</h3>
                    <p>Natte Lotte</p>
                    <figure><img src="../public/icon/download-icon.png"></figure>
                  </div>
            </div>
        </div>
    </main>
    <script type="module" src="../src/main.ts"></script>
</body>
</html>