<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <card>
        <header>
            <h2>Upload Book PDF</h2>
        </header>
        <form>
            <label for="book-name">Book Name</label>
            <input name="book-name" id="book-name">

            <label for="author">Author</label>
            <input name="author" id="author">

            <label for="category">Category</label>
            <input name="category" id="category">

            <label for="keyword">Keyword</label>
            <input name="keyword" id="keyword">

            <label for="image">Image</label>
            <input name="image" id="image">

            <label for="bookpdf">PDF file</label>
            <input name="bookpdf" id="bookpdf">
            
            <label for="description">Decription</label>
            <input name="description" id="description">

            <button>Upload Book</button>
        </form>
    </card>
    <script type="module" src="../src/main.ts"></script>
</body>
</html>