<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Document</title>
</head>

<body class="bg-[#F3F3F3] h-screen w-screen flex items-center justify-center">
    <main id="setting" class="flex flex-col w-11/12 md:w-6/12 lg:w-3/12 bg-[#FEFCFF] shadow-lg rounded-md p-6">
        <header class="py-2 md:py-4 bg-[#00796B] rounded-md shadow-md">
            <h2 class="text-xl text-center font-semibold">Change Password</h2>
        </header>

        <form class="py-4 flex flex-col">
            <label for="oldPassword">Old Password</label>
            <input name="password" type="password" id="old-Password" class="px-3 py-2 border rounded-md mb-4">

            <label for="newPassword">New Password</label>
            <input name="newPassword" type="password" id="new-password" class="px-3 py-2 border rounded-md mb-4">

            <label for="conformPassword">Confirm Password</label>
            <input name="conformPassword" type="password" id="confirm-Password"
                class="px-3 py-2 border rounded-md mb-4">

            <button id="change-btn"
                class="bg-[#00796B] text-white px-4 py-2 rounded-md hover:bg-[#00796bba] active:bg-[#235c55]">Change
                Password</button>
        </form>

        <div class="my-2 py-2">
            <a href="../../../index.html">Go To Dashboard</a>
        </div>
    </main>
    <script type="module" src="./index.ts"></script>
</body>

</html>